@media only screen and (max-width: 600px) {
    #my-addon {
        height: 35px;
    }
    input.submit {
        min-width: 100%;
        font-weight: bold;
    }
    .reg-detail {
        top: -3px;
        position: relative;
        font-size: .9em;
        font-weight: bold;
        background-color: rgb(31, 116, 119);
        display: none;
    }
    .login {
        top: -3px;
        position: relative;
        font-size: .9em;
        font-weight: bold;
        cursor: pointer;
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
    .rightSide {
        margin-right: 5%;
        margin-left: 5%;
    }
    .rightSide div {
        max-width: 300px;
    }
    .rightSide div.card-header {
        height: 50px;
        font-size: 1em;
    }
    .rightSide div.card-header {
        height: 50px;
        font-size: .9em;
        background-color: rgb(156, 70, 70);
        color: white;
    }
    body {
        text-align: center;
    }
    .reg-detail:hover {
        background-color: rgb(156, 70, 70);
    }
    .login:hover {
        background-color: rgb(156, 70, 70);
    }
    .detail {
        margin-top: -25px;
        margin-bottom: 25px;
        padding: 5px;
        padding-right: 5%;
        color: rgb(17, 16, 16);
        font-style: italic;
        width: 100%;
        display: block;
    }
    .rightSide div label {
        text-align: left;
        width: 100%;
        font-weight: normal;
        font-size: .8em;
    }
    .rightSide div input {
        font-size: .9em;
    }
    .username {
        background: rgb(215, 230, 229);
        color: black;
    }
    .loginform {
        display: none;
    }
    .form-submit:hover {
        background-color: rgb(31, 116, 119, .7);
    }
}

@media only screen and (min-width: 601px) {
    body {
        font-family: Monaco, MonoSpace;
    }
    .card-header {
        background-color: rgba(231, 240, 238, 0.541);
        color: white;
    }
    .leftSide {
        margin-left: -120px;
    }
    .rightSide {
        margin-right: -30%;
        display: relative;
        float: right;
    }
    .card-header {
        font-size: 1.2em;
        background-color: black;
    }
    .reg-detail {
        background-color: rgb(31, 116, 119);
    }
    .detail {
        display: none;
    }
    .username {
        background: rgb(215, 230, 229);
        color: black;
    }
    .sitename {
        font-size: 1.4em;
    }
    .login {
        display: none;
    }
}