@media only screen and (max-width: 600px) {
    .naira {
        position: relative;
        margin-right: -3px;
        font-family: "Century Gothic";
    }
    .coin {
        text-align: center;
    }
    .coin.silver p {
        color: rgba(160, 160, 160, 1);
    }
    .ball-click {
        border-radius: 7px;
    }
    .coin.gold p {
        color: rgb(164, 113, 15);
    }
    .coin.bronze p {
        color: rgb(153, 61, 26);
    }
    .coin.black-coin p {
        color: rgb(83, 61, 61);
    }
    .coin.green-coin p {
        color: rgb(38, 164, 89);
    }
    .coin {
        cursor: pointer;
        content: "";
        width: 60px;
        height: 60px;
        display: inline-block;
        position: relative;
        margin: 5px;
        top: 6px;
        border-radius: 50px;
        z-index: 500;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
        color: black;
    }
    .coin::after {
        content: "";
        width: 51px;
        height: 49px;
        display: block;
        top: 3.7px;
        left: 3px;
        position: absolute;
        border-radius: 50px;
        z-index: 600;
    }
    .coin::before {
        content: "";
        width: 56px;
        height: 55px;
        display: block;
        position: absolute;
        border-radius: 50px;
        z-index: 500;
    }
    .coin.silver p {
        color: rgb(98, 93, 93);
    }
    .coin p {
        position: relative;
        font-size: .8em;
        z-index: 700;
        top: 18px;
        left: -1px;
        font-style: bolder;
    }
    .coin:hover {
        top: -5px;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    }
    .coin.silver p {
        color: rgba(160, 160, 160, 1);
    }
    .topRewardClass div {
        width: 58px;
        height: 58px;
        margin-bottom: -5px;
        margin-top: -10px;
    }
    .white {
        color: white;
    }
    .countDown {
        margin-right: 15px;
    }
    .black {
        background-color: black;
    }
    .blue {
        background-color: blue;
    }
    .white {
        background-color: white;
    }
    .countDown {
        color: rgb(111, 12, 37);
        position: relative;
        top: 8px;
        font-size: 2.9em;
    }
    .game-container {
        background-color: rgba(223, 230, 222, 0.1);
        margin: 0px;
        width: 105%;
        margin-left: -10px;
        border: 0px solid;
        padding: 0px;
    }
    .inner-container {
        margin: 0px;
        opacity: 0.96;
        padding: 0px;
    }
    .bet-error {
        font-size: .8em;
        margin-top: -10px;
    }
    ul.game-rule {
        min-width: 290px;
        border: 0px solid;
        padding: 5px;
        margin-left: -15px;
        text-align: justify;
        font-size: .9em;
    }
}