 nav {
     font-family: Monaco, MonoSpace;
 }
 
 .topNavBar a {
     color: rgb(226, 222, 222);
 }
 
 .dropdown {
     background-color: rgb(54, 121, 175);
     font-family: Monaco, MonoSpace;
 }
 
 .profile-color a {
     color: rgb(219, 228, 230);
 }
 
 @media only screen and (max-width: 600px) {
     .dropdown-item {
         margin-top: 15px;
     }
     #collapsibleNavId {
         background-color: rgb(54, 121, 175);
         z-index: 500;
         color: white;
         max-width: 80%;
         float: right;
         position: relative;
         min-height: 210px;
         padding-left: 8px;
     }
     #collapsibleNavId a {
         color: white;
         font-size: .8em;
         margin-bottom: -25px;
     }
     #collapsibleNavId a:hover {
         color: rgb(168, 106, 38);
     }
     #dropdownId {
         background-color: rgb(160, 156, 156);
     }
     #dropdownId:hover {
         background-color: rgb(147, 71, 71);
     }
     .dropdown-menu {
         padding-bottom: 40px;
         padding-right: 20px;
     }
     .dropdown-menu hr {
         position: relative;
         top: 15px;
         left: 8px;
         background-color: rgb(107, 101, 101);
     }
     .navbar-toggler-icon i:hover {
         color: rgb(43, 40, 40);
     }
 }