@media only screen and (max-width: 600px) {
    #collapsibleNavId li {
        margin-bottom: 20px;
    }
    .redeem-info {
        font-size: .9em;
    }
    .redeem {
        width: 90%;
    }
    .user-info {
        width: 100%;
    }
    .user-info table td {
        font-size: .8em
    }
}