@media only screen and (max-width: 600px) {
    .pay-out {
        position: relative;
        float: left;
        margin-right: -4px;
        font-size: .8em;
        font-weight: bolder;
        margin-bottom: 3px;
    }
    .mobile-wallet .naira {
        margin-right: -12px;
    }
    .mobile-wallet a {
        font-size: .8em;
        font-weight: bolder;
        width: 25%;
        height: 38px;
        padding-top: 0px;
        margin-right: -5px;
        line-height: 1.3
    }
    .mobile-wallet {
        height: 49px;
        padding-top: 5px;
    }
    span.date {
        margin-left: -11px;
        font-size: .8em;
        font-style: italic;
    }
    div.date {
        margin-top: -12px;
        margin-bottom: -6px
    }
    .game-setting button {
        font-size: .85em;
        width: 10em;
        text-align: center;
        padding-right: 0px;
        margin-right: -5px;
        height: 42px;
        margin-top: 20px;
    }
    .game-setting button i::before {
        margin-left: -15px;
    }
    .game-setting {
        text-align: center;
        padding-left: 0px;
    }
    .hide {
        display: none;
    }
    .middle-grp {
        width: 99%;
        background-repeat: no-repeat;
        background-position: 50%;
        background-position-y: 30%;
    }
    .rules {
        text-align: left;
        margin-left: -2px;
        padding-left: 0px;
    }
    .count-container .countDown {
        margin-top: -5px;
        font-size: 2em;
    }
    .count-container {
        width: 99%;
        margin-left: 0px;
    }
    .topRewardClass {
        position: relative;
        padding-right: -10px;
        right: 8.8%
    }
    .topRewardClass li {
        margin-right: -70px;
    }
    .naira {
        position: relative;
        margin-right: -3px;
        font-family: "Century Gothic";
    }
    .coins {
        text-align: center;
    }
    .coins.silver p {
        color: rgba(160, 160, 160, 1);
    }
    .ball-click {
        border-radius: 7px;
    }
    .coins.gold p {
        color: rgb(164, 113, 15);
    }
    .coins.bronze p {
        color: rgb(153, 61, 26);
    }
    .coins.black-coin p {
        color: rgb(83, 61, 61);
    }
    .coins.green-coin p {
        color: rgb(38, 164, 89);
    }
    .coins {
        cursor: pointer;
        content: "";
        width: 60px;
        height: 60px;
        display: inline-block;
        position: relative;
        margin: 5px;
        top: 6px;
        border-radius: 50px;
        z-index: 500;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
        color: black;
    }
    .coins::after {
        content: "";
        width: 54px;
        height: 53px;
        display: block;
        top: 2px;
        left: 2px;
        position: absolute;
        border-radius: 50px;
        z-index: 600;
    }
    .coins::before {
        content: "";
        width: 50px;
        height: 53px;
        display: block;
        position: absolute;
        border-radius: 50px;
        z-index: 500;
    }
    .coins.silver p {
        color: rgb(98, 93, 93);
    }
    .coins p {
        position: relative;
        font-size: .8em;
        z-index: 700;
        top: -1px;
        left: -4px;
        font-style: bolder;
    }
    .coins:hover {
        top: -5px;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    }
    .coins.silver p {
        color: rgba(160, 160, 160, 1);
    }
    .topRewardClass div {
        width: 58px;
        height: 58px;
        margin-bottom: -5px;
        margin-top: -10px;
    }
    .white {
        color: white;
    }
    .countDown {
        margin-right: 15px;
    }
    .black {
        background-color: black;
    }
    .blue {
        background-color: blue;
    }
    .white {
        background-color: white;
    }
    .countDown {
        color: rgb(111, 12, 37);
        position: relative;
        top: 8px;
        font-size: 2.9em;
    }
}

@media only screen and (min-width: 601px) {
    .pay-out {
        display: none;
    }
    .naira {
        position: relative;
        margin-right: -3px;
        font-family: "Century Gothic";
    }
    .coins {
        text-align: center;
    }
    .coins.silver p {
        color: rgba(160, 160, 160, 1);
    }
    .ball-click {
        border-radius: 7px;
    }
    .coins.gold p {
        color: rgb(164, 113, 15);
    }
    .coins.bronze p {
        color: rgb(153, 61, 26);
    }
    .coins.black-coin p {
        color: rgb(83, 61, 61);
    }
    .coins.green-coin p {
        color: rgb(38, 164, 89);
    }
    .coins.silver p {
        color: rgba(160, 160, 160, 1);
    }
    .coins p {
        position: relative;
        font-size: .8em;
        z-index: 700;
        top: -1px;
        left: -4px;
        font-style: bolder;
    }
    .coins:hover {
        top: -5px;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    }
    .coins.silver p {
        color: rgba(160, 160, 160, 1);
    }
    .topRewardClass div {
        width: 58px;
        height: 58px;
        margin-bottom: -5px;
        margin-top: -10px;
    }
    .white {
        color: white;
    }
    .countDown {
        margin-right: 15px;
    }
    .black {
        background-color: black;
    }
    .blue {
        background-color: blue;
    }
    .white {
        background-color: white;
    }
    .countDown {
        color: rgb(111, 12, 37);
        position: relative;
        top: 8px;
        font-size: 2.9em;
    }
    .coins {
        cursor: pointer;
        content: "";
        width: 60px;
        height: 60px;
        display: inline-block;
        position: relative;
        margin: 5px;
        top: 6px;
        border-radius: 50px;
        z-index: 500;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
        color: black;
    }
    .coins::after {
        content: "";
        width: 52px;
        height: 54px;
        display: block;
        top: 4px;
        left: 4px;
        position: absolute;
        border-radius: 50px;
        z-index: 600;
    }
    .coins::before {
        content: "";
        width: 53px;
        height: 53px;
        display: block;
        position: absolute;
        border-radius: 50px;
        z-index: 500;
    }
}