@media only screen and (max-width: 600px) {
    .process-bet,
    .quit-bet {
        margin-top: 10px;
        font-size: .88em;
        font-weight: bold;
    }
    .naira {
        position: relative;
        margin-right: -3px;
        font-family: "Century Gothic";
    }
    .coin {
        text-align: center;
    }
    .coin.silver p {
        color: rgba(160, 160, 160, 1);
    }
    .ball-click {
        border-radius: 7px;
    }
    .coin.gold p {
        color: rgb(164, 113, 15);
    }
    .coin.bronze p {
        color: rgb(153, 61, 26);
    }
    .coin.black-coin p {
        color: rgb(83, 61, 61);
    }
    .coin.green-coin p {
        color: rgb(38, 164, 89);
    }
    .coin {
        cursor: pointer;
        content: "";
        width: 90px;
        height: 90px;
        display: inline-block;
        position: relative;
        margin: 5px;
        top: 6px;
        border-radius: 50px;
        z-index: 500;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
        color: black;
    }
    .coin::after {
        content: "";
        width: 61px;
        height: 59px;
        display: block;
        top: 3.7px;
        left: 3px;
        position: absolute;
        border-radius: 50px;
        z-index: 600;
    }
    .coin::before {
        content: "";
        width: 66px;
        height: 65px;
        display: block;
        position: absolute;
        border-radius: 50px;
        z-index: 500;
    }
    .coin.silver p {
        color: rgba(160, 160, 160, 1);
    }
    .coin p {
        position: relative;
        font-size: .6em;
        z-index: 700;
        top: 18px;
        left: -1px;
        font-style: bolder;
    }
    .coin:hover {
        top: -5px;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    }
    .coin.silver p {
        color: rgba(160, 160, 160, 1);
    }
    .black {
        background-color: black;
    }
    .game-container {
        background-color: rgba(223, 230, 222, 0.1);
        margin-top: -10px;
        margin-bottom: 30px;
        width: 105%;
        margin-left: -20px;
        border: 0px solid;
        padding: 0px;
        text-align: left;
        float: left;
    }
    .inner-container {
        margin: 0px;
        opacity: 0.8;
        padding-left: -0px;
        min-width: 350px;
        position: relative;
        left: -48px;
        top: -10px;
        padding-bottom: 14px;
    }
    .inner-container li {
        height: 60px;
    }
}

@media only screen and (min-width: 601px) {
    .my_bet {
        position: relative;
        top: 0px;
    }
}