@media only screen and (max-width: 600px) {
    .hide {
        display: none;
    }
    div.newCountDwn {
        height: 45px;
        text-align: center;
    }
    span.newCountDwn {
        float: left;
        position: relative;
        font-size: 2em
    }
    button.last-win {
        margin-bottom: -10px;
        border: 0px solid;
    }
    table.last-win {
        position: relative;
        top: -30px;
    }
    .top-container {
        width: 100%;
    }
    .game-details {
        margin-left: 0px;
        width: 100%;
        padding: 0px;
        text-align: left;
        margin-bottom: 20px;
    }
    h3.game-detail {
        width: 100%;
        font-size: 1.2em;
        margin: 0px;
        line-height: 1.4;
        margin-bottom: 10px;
        top: -14px;
        position: relative;
        left: -9px
    }
    ul.game-rule {
        min-width: 290px;
        border: 0px solid;
        padding: 5px;
        margin-left: -18px;
        text-align: justify;
        font-size: .9em;
    }
    footer li {
        font-size: .9em;
        margin-bottom: -5px;
    }
    .my_bet {
        position: relative;
        top: -10px;
    }
}