@media only screen and (max-width: 600px) {
    #collapsibleNavId li {
        margin-bottom: 20px;
    }
    .task-info {
        font-size: 0.9em;
    }
    .task-count {
        position: relative;
        top: 1px;
        font-size: 0.8em;
    }
    .task-container {
        width: 99%;
        margin-bottom: 20px;
    }
    .task-container li .card-header strong {
        font-size: 0.8em;
    }
    .task-container li .card-header strong i::before {
        margin-left: -7px;
    }
    .task-container li .card p {
        margin-left: -25px;
        font-size: .78em;
    }
    .task-container .card {
        width: 99%;
    }
}