{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Account Created Successful</title>

	<link rel="stylesheet" type="text/css" href="{% static 'account_success.css' %}">

</head>
<body>

	<img src="{% static 'Swapit_logo.png' %}" alt="Swapit Logo created by Gks"> 

	<section>
		<h3> {{info}}</h3>
		<p> <a href="{% url 'login' %}"> Click to Login </a> </p>

	</section>

</body>

<footer>
	<span>Gks@2018</span>  <a href=""> FAQ</a> <a href="">Help</a>
<p>Terms and Conditions</p>
</footer>

</html>