{% extends 'main.html' %}
{% load static %}

{% block  title %}

Add Swap item
{% endblock %}

{% block body %}

<h2>Add Swap item to your Store</h2>

<form action="{% url 'add_swaps' %}" method="POST" enctype="multipart/form-data">
	
{% csrf_token %}

<input type="file" name="picture" alt="picture for swap item" multiple="multiple" >
 <br>
<p> <span>Note: </span> To Upload Multiple Pictures, hold <kbd> CTRL </kbd> and <kbd> SELECT</kbd> on the pictures you  want..   </p>

<p>Name</p>
<input type="text" name="name" placeholder="Enter item name" autofocus="autofocus" required="required"> <br>
<p>Description</p>
<textarea name="description" placeholder="Enter little details about your item" value=""></textarea> <br>

 <span> Product Type</span> <select name="filter_type">
	<option value='books'> Books</option>
	<option value="electronics">Electronics</option>
	<option value="computers">Computers</option>
	<option value="fashion">Fashion</option>
	<option value="home_appliances"> Home Appliances</option>
	<option value="office_appliances">Office Appliances</option>
	<option value="others">Others</option>

</select>
<br>

<p>Swap Requirement</p>
<textarea name="requirement" required="required" placeholder=" 
Enter swap requirement for this item e.g. Working DVD Player + 500 Naira"></textarea> <br>

<span>Negotiable</span> <input type="radio" value="yes" name="negotiable"> Yes

<input type="radio" value="no" name="negotiable"> No <br>

<input type="submit" value="Add item">


<p> {{info}} </p>

</form>

{% endblock %}