{% extends 'main.html' %} {% block title %} {{data.title}} {% endblock title %} {% block update %} {% block meta %}
<meta name="description" content="wuxia {{data.title}} pdf epub mobi"> {% endblock meta %}


<style>
    div.section-info {
        margin-left: 5%;
        margin-right: 5%;
    }
</style>
<div class="card  border-0 pt-2 pl-4 pb-5 mt-4 bg-white section-info">
    <div class="card-header bg-light h2 border-0 mb-3 font-weight-bolder title">
        {{data.title}}
    </div>
    <span class="h4 font-weight-bolder text-info mb-5 ml-3"> Updates: {{data.last_chapter}}</span>
    <img class="info-img card-img-top list-inline-item w-50 mb-3" max-height="500px" src="{{data.image.url}}" alt="">
    <div class="card-body">
        <h5 class="card-title font-weight-bolder genre">Genre: {{data.genre}}</h5>
        <p class="card-text font-weight-bold text-danger genreType">Author: {{data.genretype}}</p>
        <p class="card-text font-weight-bold text-black-50 ">Downloads: ({{data.views}})</p>
    </div>


    <hr>

    <div class="container descr w-100 pr-5 ml-0 mt-4 font-weight-bolder">

        {{data.description}}
    </div>

    <p class="text-danger font-weight-bold mt-5">Available Format: </p>
    <div>
        {% if data.pdf %}
        <a href="{{data.pdf.url}}" class="btn btn-primary pr-4"><i class=" flaticon-download"></i> Download Pdf ({{data.pdf.size|filesizeformat}})</a> {% else %}
        <a href="" class="btn btn-danger pr-3"><i class=" flaticon-download"></i> Pdf(Not Available) </a> {% endif %} {% if data.epub %}
        <a href="{{data.epub.url}}" class="btn btn-success pr-3"><i class=" flaticon-download"></i> Download Epub ({{data.epub.size|filesizeformat}})</a> {% else %}
        <a href="" class="btn btn-danger pr-3"><i class=" flaticon-download"></i> Epub(Not Available) </a> {% endif %} {% if data.mobi %}
        <a href="{{data.mobi.url}}" class="btn btn-danger pr-3"><i class=" flaticon-download"></i> Download Mobi ({{data.mobi.size|filesizeformat}})</a> {% else %}
        <a href="" class="btn btn-danger pr-3"><i class=" flaticon-download"></i> Mobi(Not Available) </a> {% endif %}

    </div>

</div>






{% endblock update %}