{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="wuxia ebook pdf epub mobi"> {% block meta %} {% endblock meta %}



    <script src="{% static 'jquery.js' %}"></script>


    <link href="{% static 'icons/font/flaticon.css' %} " rel="stylesheet">

    <!-- <link href="{% static 'nav.css' %} " rel="stylesheet"> -->

    <link href="{% static 'bootstrap/dist/css/bootstrap.css' %} " rel="stylesheet">

    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}"></script>





    {% block title %} {% if search %}
    <title> Search: {{search}} </title>

    {% else %}

    <title class=""> wuxiaEbook</title>

    {% endif %} {% endblock title %} {% endblock head %}

    <style>
        body {
            font-family: Monaco, MonoSpace;
        }
        
        .navtop {
            position: fixed;
            z-index: 1000;
            width: 100%;
            top: 0px;
        }
        
        .flaticon-search::before {
            margin: 0px;
        }
        
        li.filter {
            padding-top: 8px;
            height: 40px;
        }
        
        li.filter:hover {
            background-color: rgb(96, 113, 13);
        }
        
        .sec-filter .home {
            background-color: rgb(96, 113, 13);
        }
        
        body {
            background-color: rgb(105, 28, 28);
        }
    </style>

</head>


{% block body %}



<body class="" id="mainCtrl">

    {% block nav %}




    <nav class="navbar navtop navbar-light shadow-lg mb-3 navbar-fixed-top " style="background-color: rgb(24, 73, 73);">
        <a class="navbar-brand" href="/">
            <i width="30" height="30" class="font-weight-bolder d-inline-block align-top flaticon-home-2 text-white"> </i>
            <span class="text-light font-weight-bolder font-italic" style="font-size: larger;"> wuxiaEbook </span>
        </a>

        <form class="navbar-form pull-right border-0 " method="GET" action="{% url 'search' %}">
            <input class="border-0 rounded pl-2 pr-2" type="text" name="search" placeholder="Search Wuxia Ebook" style="width: 220px;height:38px; ">
            <button class="border-0 rounded-0 btn btn-outline-info pt-1" type="submit " style=" ">
                <i class=" text-white font-weight-bold flaticon-search"></i>
            </button>
        </form>
    </nav>

    <!-- Nav tabs -->

    <section class="alert alert-info text-white border-0 rounded-0 text-center w-100 sec-filter" style="margin-top: 45px; height:80px; background-color:black;">

        <div class=" w-100  ">
            <ul class="w-100 text-center">
                <li class=" home list-inline  list-unstyled float-left pl-3 pr-3 mt-0 filter">
                    <a href="/" class=" text-white list-inline-item  mt-0 " style="">Home</a>
                </li> {% for x in filter %}

                <li class="list-inline  list-unstyled float-left pl-3 pr-3 mt-0 filter">
                    <a href="{% url 'filter' x %} " class=" text-white list-inline-item  mt-0 " style=""> {{x}}</a></li>

                {% endfor %}

            </ul>
        </div>

    </section>
    {% endblock nav %} {% block update %}
    <section class=" row mb-3  p-1 bg-white shadow-lg" style="
    margin-left:6%; margin-right:6%;">

        <ul class="">
            <br>
            <p class="font-weight-bolder mb-4 h4 border-bottom pb-1 text-danger"> NEW UPDATE EBOOKS:</p>

            {% for x in data %}
            <li class="list-inline d-md-flex mb-4 float-left ml-4  rounded-top" style="height: 260px;">
                <a href="{% url 'view' x.pk%}">
                    <div class=" ml-4 mb-4 shadow-lg tolist text-center" style="width: 220px; min-height:100%;">
                        <img class="  w-100 mb-1" height="220" src="{{x.image.url}}" alt="">
                        <span class="text-center font-weight-bold p-2 pb-2">{{x.title|title}} </span>



                    </div>
                </a>


            </li>

            {% empty %}


            <div class="alert alert-info">
                No Ebooks Available..
            </div>


            {% endfor %}





        </ul>


    </section>



    <div class="text-center mb-4  mt-3 w-100">
        {% if data.has_previous %}

        <a href="?page={{data.previous_page_number}} {%  if request.GET.search %}&search={{request.GET.search}} {% endif %}" class=" btn ml-1 mr-1 btn-warning text-white"> Prev</a> {% endif %}
        <span class="current text-info btn btn-dark">
        Page {{ data.number }} of {{ data.paginator.num_pages }}
        </span> {% if data.has_next %}
        <a href="?page={{data.next_page_number}} {%  if request.GET.search %}&search={{request.GET.search}} {% endif %}" class=" btn ml-1 mr-3 btn-warning text-white"> Next</a> {% endif %}

    </div>
    {% endblock %}

    <section class="row w-100 ml-0 mr-2 p-3 mt-3 bg-white">

        <ul class="p-2 w-100" style="margin-left: 3%;">
            <hr>
            <p class="font-weight-bolder mb-4 h4 ml-3 text-danger"> MOST POPULAR:</p>

            {% for x in reco %}
            <a href="{% url 'view' x.pk %}">
                <li class="card list-inline float-left ml-3 mr-2 mb-5 pop shadow-lg" style="max-width: 180px; ">
                    <img class="card-img-top list-inline-item" height="160px" src="{{x.image.url}}" alt="">
                    <div class="card-body p-1 text-center rounded" style="min-height: 70px;">
                        <a class="card-title list-inline-item m-1 font-weight-bold">{{x.title}}</a>

                    </div>

                </li>
            </a>
            {% empty %}


            <div class="alert alert-info">
                No Recommendation Available..
            </div>


            {% endfor %}





        </ul>

    </section>


</body>

{% endblock body %}



<footer>
    {% block footer %}



    <style>
        ul.navfooter li a,
        a.navfooter {
            color: white;
        }
    </style>
    <footer>
        <nav class="navbar navbar-default navbar-fixed-bottom bg-dark text-white " role="navigation ">
            <a class="navbar-brand navfooter " href="# ">&copyGks{% now "Y " %}</a>
            <ul class="nav navbar-nav list-inline navfooter ">
                <li class="list-item active ">
                    <a href="# ">Help</a>
                </li>
                <li class="list-item ">
                    <a href="# ">Terms and Conditions</a>
                </li>
            </ul>
        </nav>

    </footer>

    {% endblock footer %}
</footer>


</html>