
{% extends 'main.html' %}
{% load static %}

{% block title %}
Swaps
{% endblock %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'swaps.css' %}">
{% endblock %}


{% block body %}

<ul>
	<li> <a href=" {% url 'add_swaps' %}"> Add Swap</a></li>



</ul>

<section> 
<ul>
<li>
<a href='/'> Your Swap </a>

</li>
<li>
<a href='/'> Pending Swap  </a>

</li>

</ul>
</section>

{% block right %}
<section>

<h3> Profile </h3>
<hr />
<table>
<tr> <img title='{{account.pic}}' src= {% if account.pic.url %}
static "account.pic.url" %}' alt='profile pic'/> 

{% else %}
<p> {{user_pic}} </p>
{% endif %}

<tr> <td> Name:</td> <td> {{account.user.username}}</td>  <td>  <img title='Edit' src='{% static "edit.png" %}' alt='edit logo' /> </td></tr>

<tr> <td> :</td> <td> {{account.name}}</td>  <td>  <img title='Edit' src='{% static "edit.png" %}' alt='edit logo' /> </td></tr>

<tr> <td> E-mail:</td> <td> {{account.email}}</td>  <td>  <img title='Edit' src='{% static "edit.png" %}' alt='edit logo' /> </td></tr>

<tr> <td> Mobile:</td> <td> {{account.tel}}</td>  <td>  <img title='Edit' src='{% static "edit.png" %}' alt='edit logo' /> </td></tr>

<tr> <td> Address:</td> <td> {{account.address}}, {{account.country}}</td>  <td>  <img title='Edit' src='{% static "edit.png" %}' alt='edit logo' /> </td></tr>



</table>

</section>
{% endblock %}

<section>
	<h3>Pending Item</h3>
<!-- pending swap -->
	{% if pending_swap %}
{% for product in pending_swap %}

<ul class="swapitems"> 
	<a href=" {% url 'swapView' product.id %}">
<li>

 <img src="{{product.getPicture.picture.url}}"> 
 <ul>
<li> <a href="/">Message {{product.swap.user.user.username}}</a> </li>
<li> <a href="/">Edit</a></li>
</ul>
 <p>
		<span>Views: {{product.views}}</span> <span> 
		Negotiable: {{product.negotiable}}</span>
		
</p> <p>{{product.name}}</p>

	</li>
	</a> 



</ul>



{% endfor %}

{% if data.has_previous %}

<a href="?page={{data.previous_page_number}}"> Prev</a>

{% endif %}

{% if data.has_next %}
<a href="?page={{data.next_page_number}}"> Next</a>


{% endif %}


{% else %}

<p> Sorry, there is no pending swap</p>
{% endif %}



</section>

<section>
<!-- user swap -->
<h3> Uploaded Item</h3>
	{% if my_swap %}
{% for product in my_swap %}

<ul class="swapitems"> 
	<a href=" {% url 'swapView' product.id %}">
<li>

 <img src="{{product.getPicture.picture.url}}"> 
 <span> <a href="/">Edit</a></span>
 <p>
		<span>Views: {{product.views}}</span> <span> 
		Negotiable: {{product.negotiable}}</span>
		
</p> <p>{{product.name}}</p>

	</li>
	</a> 



</ul>



{% endfor %}

{% if data.has_previous %}

<a href="?page={{data.previous_page_number}}"> Prev</a>

{% endif %}

{% if data.has_next %}
<a href="?page={{data.next_page_number}}"> Next</a>


{% endif %}


{% else %}

<p> Sorry you have no swap product</p>
{% endif %}



</section>

{% endblock %}