
{% extends 'main.html' %}
{% load static %}

{% block title %}
{{data.name}}
{% endblock %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'swapView.css' %}">
{% endblock %}


{% block body %}
{% if add_success %} 
<p> Item {{data.id}} has been added to cart and notification has been sent to
the owner</p>
 {% endif %}
<p> </p>
<p> {{data.user.user.username}} <span> Filter: {{data.filtertype}}</span></p>

<img src="{{data.getPicture.picture.url}}" > <ul>
	
	<li> <a href=" {% url 'applySwap' data.id data.user.user.username %}"> Apply for Swap</a></li>
	<li> <a href="/"> Chat with {{data.user.username}}</a></li>
</ul>

<ul>
	<p>Contacts:</p>
	<li>Email: {{data.user.email}}
</li>
<li> Tel: {{data.user.tel}}</li>
</ul>

<ul> 
	{% for pic in data.picture.all %}



<li> <img src="{{pic.picture.url}}" > </li>

{% endfor %}
</ul>

<ul> <li> Views: {{data.views}}</li> <li> Negotiable: {{data.negotiable}}</li></ul>

<h3> {{data.name}}</h3>

<h3> Description: </h3>
<p> {{data.description}}</p>

<h3> Requirement: </h3>
<p> {{data.requirement}}</p>

<h3>Location:</h3>
<p>{{data.user.address}}</p>



{% endblock %}